.ContantBody{
    color: var(--very-dark-blue);
    font-family: Quicksand;
    font-weight:700; 

}

.ContantBody h1{
    display: inline;
}
.ContantBody .linkes{
    width:fit-content;
    display: inline;
}
.ContantBody .linkes a{
    font-size: 30px;
}
.ContantBody .linkedin-icon ,.ContantBody .email-icon{
    color: var(--very-dark-blue);
}
.linkedin-icon:hover{
    color:#0a66c2;
}

.email-icon:hover{
    color: rgb(0, 157, 255);
}
