.hero-content p{
    color: var(--very-dark-blue);
}
.hero-section span{
    color:var(--violet);
    text-shadow: 1px;    
}
.hero-section .linkes{
    width:fit-content;
}
.hero-section .linkes a{
    color: #999;
    font-size: 40px;
}

.hero-section .linkedin-icon:hover{
    color:#0a66c2;
}
.hero-section .github-icon:hover{
    color: #222;
}
.hero-section .email-icon:hover{
    color: rgb(0, 157, 255);
}
.skills img{
    max-width: 60px;
    margin: 10px;
}
.skills img:hover{
    translate: 0px 10px;
    transition-duration: 0.5s;
}
