@media screen and (max-width:768px) {
    .hero-section{
        position: relative;
        }
        
        .hero-section:before {
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.1;
            background-image: url('../../images/binary-code.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
        }  
}
.hero-content p{
    color: var(--very-dark-blue);
}
.hero-section span{
    color:var(--violet);
    text-shadow: 1px;    
}
.hero-section .linkes{
    width:fit-content;
}
.hero-section .linkes a{
    color: #999;
    font-size: 40px;
}

.hero-section .linkedin-icon:hover{
    color:#0a66c2;
}
.hero-section .github-icon:hover{
    color: #222;
}
.hero-section .email-icon:hover{
    color: rgb(0, 157, 255);
}
.skills img{
    max-width: 60px;
    margin: 10px;
}
.skills img:hover{
    translate: 0px 10px;
    transition-duration: 0.5s;
}
