.ProjectCard p , .ProjectCard h4{
    color: var(--very-dark-blue);
}

.ProjectCard span{
    background-color: var(--very-dark-blue);
}
.card-title a{
    transition: 1s ease-in-out all;
    animation: shake 2s;
    animation-iteration-count: infinite;
    color:#222;
}
.card-body a{
    background-color: var(--very-dark-violet);
}
.card-body a:hover{
    background-color: var(--very-dark-violet-ligther);

}

