.about-section .text{
    position: relative;
    top:-10px;
    background-color: #73566B;
}
.text p{
    font-family: Quicksand;
    font-weight:400;
}
.text h1{
    position: relative;
    top:-25px;
    font-family: Quicksand;
    font-weight:700;
}

.second-svg {
    position: relative;
    top:-50px;
}