.about-section .AboutText{
    position: relative;
    top:-5px; 
    background-color: #73566B;
}

.AboutText p{
    font-family: var(--Second-font);
    font-weight:400;
}
.AboutText h1{
    position: relative;
    font-family: var(--Second-font);
    font-weight:700;
}

.second-svg {
    position: relative;
    top:-25px;
    margin-top: 0px;
}